apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  values:
    service:
      enabled: true
      type: ClusterIP
    ingressClass:
      enabled: true
      isDefaultClass: false
      name: traefik
    ports:
      web:
        redirectTo: websecure
      websecure:
        tls:
          enabled: true
