grafana:
  enabled: true

  admin:
    existingSecret: grafana
    userKey: admin-user
    passwordKey: admin-password

  service:
    type: ClusterIP
    port: 80
    targetPort: 3000

  persistence:
    enabled: true

  ingress:
    enabled: true
    ingressClassName: tailscale
    hosts:
      - grafana
    paths:
      - /
    pathType: Prefix