spec:
  values:
    server:
      ui: true

      extraVolumes:
        - name: vault-tls
          secret:
            secretName: vault-server-tls
      extraVolumeMounts:
        - name: vault-tls
          mountPath: /vault/tls
          readOnly: true

      standalone:
        enabled: true
        config: |
          ui = true
          listener "tcp" {
            address            = "0.0.0.0:8200"
            tls_disable        = 0
            tls_cert_file      = "/vault/tls/tls.crt"
            tls_key_file       = "/vault/tls/tls.key"
            tls_client_ca_file = "/vault/tls/ca.crt"
          }
          storage "raft" {
            path = "/vault/data"
          }
