apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: traefik-crds
      version: "1.11.1"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 5m
  install:
    crds: Create
  upgrade:
    crds: Create