apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pihole
resources:
  - ../../../base/pihole/app
  - secret-webpassword.yaml

namePrefix: htz-

labels:
  - includeSelectors: true
    pairs:
      app: pihole
      pihole.instance: hetzner

patches:
  - target:
      kind: Deployment
      name: pihole-deployment
    path: patch-deployment.yaml

  - target:
      kind: PersistentVolumeClaim
      name: pihole-pvc
    path: patch-pvc.yaml

  - target:
      kind: Service
      name: pihole-dns
    path: patch-tailscale-dns-hostname.yaml

  - target:
      kind: Ingress
      name: pihole-ui
    path: patch-ingress-host.yaml

  - target:
      kind: Job
      name: pihole-bootstrap-adlists
    path: patch-bootstrap-job.yaml
