apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: traefik
      version: "37.1.2"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 5m
  install:
    createNamespace: false
    crds: Skip
  upgrade:
    crds: Skip
  dependsOn:
    - name: traefik-crds
  values:
    ingressClass:
      enabled: true
      isDefaultClass: false
      name: traefik
    ports:
      web:
        redirectTo: websecure
      websecure:
        tls:
          enabled: true