apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hashicorp-vault
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: vault
      version: "37.1.2"
      sourceRef:
        kind: HelmRepository
        name: hashicorp-vault
      interval: 5m