apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "78.0.0"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
      interval: 5m