apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  values:
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
    service:
      enabled: true
      type: ClusterIP
